header{
    display: flex;
    background: rgb(9,9,121);
    background: linear-gradient(35deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 37.5%, rgba(0,212,255,1) 75%, rgba(9,9,121,1) 100%); 
}

header>h1{
    color:rgb(255, 255, 255);
    text-shadow: 2px 3px #000000;
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}

form{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    height: 35px;
    width: 50%;
}

head{
    font-family: 'Ubuntu', sans-serif;
}

html{
    background: rgb(9,9,121);
    background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 50%, rgba(9,9,121,1) 100%); 
}


form>input{
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    border-style:solid;
    font-family: 'Ubuntu', sans-serif;
    width: 60px;
}

form>input:hover{
    border-radius: 6px;
    border-color: rgb(0, 47, 255);
    background: rgb(199, 199, 199);
    border-style:solid;
    width: 60px;
}

#query{
    width: 25%;
    text-align: center;
}


.container{
    display: inline;
    width: 60rem;
    margin-bottom: 20px;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding-left: 30px;
    padding-right:30px;
}

article {
    width: calc(100% / 3 - 2rem);
    box-sizing: border-box;
    cursor: pointer;
    border: 1px rgb(0, 0, 0) solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 3px 6px 6px rgb(35, 35, 35);
    transition: all 0.2s ease-in-out;
    background: rgb(0,243,255);
    background: linear-gradient(31deg, rgba(0,243,255,1) 9%, rgba(64,69,255,1) 51%, rgba(0,243,255,1) 100%); 
    font-family: 'Poppins', sans-serif;
}
article:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 2px #ccc;
}
figure>h2{
    font-size: 40px;
    font-weight: bold;
}

figure>p{
    font-size: 20px;
    color: rgb(22, 22, 22);
}

figure {
    margin: 0;
    text-align: center;
}
  
figure img {
    width: 50%;
}
  

dialog {
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: block;
}

dialog[open] {
    opacity: 1;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.8);
}

dialog span {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    filter: drop-shadow(2px 2px 2px #000);
}

dialog>span:hover{
    color: red;
}
